.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
/Docker/java/docker-java/.idea
/Docker/java/docker-java/*.iws
/Docker/java/docker-java/*.iml
/Docker/java/docker-java/*.ipr
/Docker/java/docker-java/out/
/Docker/java/docker-java/build

### Eclipse ###
/Docker/java/docker-java/bin
/Docker/java/.metadata
/Docker/java/docker-java/.settings
/Docker/java/docker-java/.classpah
/Docker/java/docker-java/.project
